* {
    margin: 0;
    padding: 0;
}
body {
    font: 10pt Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    background: #696969; /* Цвет фона */
    margin: 0; /* Убираем отступы */
}
h2 {
    font-size: 1.1em; /* Размер шрифта */
    color: #752641; /* Цвет текста */
    margin-bottom: 0; /* Отступ снизу */
}
#container {
    width: 70%;
    height: 940px;
    margin: 30px auto; /* Выравниваем по центру */
    background: #f0f0f0; /* Цвет фона правой колонки */
    box-shadow: 8px 7px 13px 2px rgba(0,0,0,0.5);; /* Параметры тени */
    padding: 0;
}
#header {
    background: #DCDCDC; /* Цвет фона */
    font-size: 25pt; /* Размер текста */
    font-weight: bold; /* Жирное начертание */
    color: #808080; /* Цвет текста */
    padding: 6px; /* Отступы вокруг текста */
}
#cinema{
    margin: 60px 30px 0px 30px;
    background: #696969;
    font-size: 15pt;
    color: #FFFAFA;
    padding: 6px;


}
#img {
    float: left; /* Обтекание по правому краю */
    width: 210px; /* Ширина левой колонки */
    padding: 10px; /* Поля вокруг текста */
    background: #fff; /* Цвет фона левой колонки */
}
#img p {
    margin-top: 0.3em /* Отступ сверху */
}
#info {
    float: left;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
}
button{
    background: #C0C0C0;
    width: 60px;
    height: 27px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px;
    font-size: 14px;
    margin-left: 64px;
}
.price-margin{
    margin-left: 172px;
}
price{
    margin-left: 93px;
    font-size: 14px;
    color:#C0C0C0;
}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande";
    border-collapse: collapse;
    color: #686461;
}
caption {
    padding: 10px;
    color: white;
    background: #696969;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}
th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
}
td {
    padding: 10px;
}
tr:nth-child(odd) {
    background: white;
}
tr:nth-child(even) {
    background: #E8E6D1;
}
.clear {
    clear: both; /* Отмена обтекания */
}