table {

    background-image: url('http://cdn.wallpapersafari.com/15/36/w8vXP2.jpg');
    background-size: 145px;


}
body{
    background-image: url("https://www.3secrets.ru/_ld/52/5279.jpg");
    background-size: 1360px;

}
th{
    color: ivory;
    font-family:Arial;
}

