table {

    background-image: url('http://cdn.wallpapersafari.com/15/36/w8vXP2.jpg');
    background-size: 145px;


}
body{
    background: linear-gradient(-45deg, #3b773a, #85b185);

}
th{
    color: ivory;
    font-family:Arial;
}

