
body {
    background: linear-gradient(-45deg, #3b773a, #85b185);
    margin: 0;
}
h1{

    font-size: 25pt;
    font-weight: bold;
    font-style: oblique;
    color: #752641;
    padding:6px;
    margin-left:35px;

}
form{
    width:510px;
    margin:50px auto;
    padding:15px 20px;
    background: #fbfffa;
    border-radius: 25px;
}

input[type = "text"]:focus,
input[type = "password"]:focus{
    box-shadow:0 0 5px rgba(117, 68, 35, 1.7);
    border-radius: 5px;
    outline:none;
}
input[type = "text"],
input[type = "password"]{
    width:500px;
    border:1px solid #ccc;
    padding:4px 5px;
    background:white;
    border-radius: 5px;
    box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
input[type="submit"]{
    display:block;
    padding:20px 30px;
    margin-left:150px;
    width:190px;
    font-weight:bold;
    color:#333;
    background:white;
    border:none;
    background-image: linear-gradient(to bottom, #fff, #ddd);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

}
